html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: georgia, serif;
	font-size: 16px;
	line-height: 23px;
	color: #333;
}
h1 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}
h2 {
	font-size: 23px;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 15px;
}
p {
	margin-bottom: 15px;
}
ul {
	list-style-type: disc;
	margin-left: 45px;
	margin-bottom: 15px;
}
a {
	color: red;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
a:hover {
	border: none;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
input {
	border: 1px solid black;
	padding: 5px;
	color: #555;
}
input[type="button"] {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	background: #4D9FC7;
	padding: 3px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.masthead {
	background: #E3F1F9;
	padding: 25px 0;
}
.id {
	float: left;
	width: 50%;
	padding-top: 20px;
}
.id h1 {
	margin-bottom: 10px;
	font-size: 35px;
	font-weight: normal;
	color: #3A6C86;
}
.id p {
	font-size: 13px;
	color: #666;
	font-weight: bold;
	margin-bottom: 0;
}
.signup-wrap {
	float: right;
	width: 50%;
}
.signup {
	float: right;
	background-color: #ADD6ED;
	padding: 12px;
}
.signup p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #666;
	margin-bottom: 8px;
}
.signup input {
	width: 180px;
}
.signup input[type="button"] {
	width: auto;
}
.controls {
	background-color: #000;
}
.mainnav {
	float: left;
	width: 65%;
}
.mainnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mainnav li {
	display: inline-block;
}
.mainnav a {
	display: inline-block;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 14px;
}
.mainnav .active, .mainnav a:hover {
	background: #059BD8;
}
.search-wrap {
	width: 35%;
	float: right;
}
.search {
	float: right;
	padding-top: 12px;
	padding-left: 20px;
	height: 52px;
	border-left: 1px dotted #999;
}
.search input[type="text"] {
	background: #777;
	color: #fff;
}