body {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #333;
}
h1 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
	background-color: #ccc;
	padding: 40px;
}
h2 {
	font-size: 23px;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 15px;
}
p {
	margin-bottom: 15px;
}
ul {
	list-style-type: disc;
	margin-left: 45px;
	margin-bottom: 15px;
}
a {
	color: red;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
a:hover {
	border: none;
}

.mainnav ul{
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 50px;

}
.mainnav li {
	display: inline-block;
}
.mainnav a {
	padding: 15px 25px;
	border: none;
	color: green;
	background: #ccc;
	border-radius: 6px;
}
.mainnav a:hover, .mainnav .active {
	background-color: blue;
	color: white;
}